<div class="last-section">
  <div class="first-section">
    <h6>Best product</h6>
    <h2 class="border-botton">Why choose us</h2>
  </div>
  <div class="second-section">
    <div class="pic-tex">
      <img src="<%= "images.shippingFast" %>" alt="" />
      <h3>Fast Delivery</h3>
      <p>
        Enjoy fast delivery and get <br />
        your order in no time
      </p>
    </div>
    <div class="pic-tex">
      <img src="<%= "images.creditCard" %>" alt="" />
      <h3>Free Shipping</h3>
      <p>
        Take advantage of free shipping <br />
        on all orders
      </p>
    </div>
    <div class="pic-tex">
      <img src=" <%= "images.shieldKeyhole" %>" alt="" />
      <h3>Secure Checkout</h3>
      <p>
        Shop with confidence using our<br />
        secure checkout process
      </p>
    </div>
    <div class="pic-tex">
      <img src=" <%= "images.shoppingCart" %>" alt="" />
      <h3>Easy Returns</h3>
      <p>
        Enjoy peace of mind with <br />
        our easy return policy
      </p>
    </div>
  </div>
</div>
<div class="footer">
  <div class="pre-footer">
    <div><h2>E-commerce Shop</h2></div>
    <div class="pre-footer-title">
      <h3>Links</h3>
      <div class="pre-footer-link">
        <a href="">Story</a><a href="">Contact</a><a href="">Track Order</a
        ><a href="">Help</a>
      </div>
    </div>
    <div class="pre-footer-title">
      <h3>Categories</h3>
      <div class="pre-footer-link">
        <a href="">Bedroom</a><a href="">Decor</a><a href="">Living Room</a
        ><a href="">Office</a>
      </div>
    </div>
    <div class="pre-footer-title">
      <h3>Subscribe</h3>
      <input
        class="input-subscribe"
        type="text"
        placeholder=" Your email address..."
      />
      <button class="btn-subscribe">Subscribe</button>
    </div>
  </div>
  <!-- This section is for the footer and should be copied to all pages. -->
  <div class="footer-bottom">
    <div class="footer-text">
      <h5>Copyright © 2024 Furniture Shop | Powered by Furniture Shop</h5>
    </div>
    <div class="footer-link">
      <a href=""><img src="<%= "images.facebook" %>" alt="" /></a>
      <a href=""><img src="<%= "images.linkedin" %>" alt="" /></a>
      <a href=""><img src="<%= "images.telegram" %>" alt="" /></a>
      <a href=""><img src="<%= "images.youtube" %>" alt="" /></a>
      <a href=""><img src=" <%= "images.twitter" %>" alt="" /></a>
    </div>
  </div>
</div>
