<%= partials.navbar({images}) %>
    <section class="product-detail-body">
        <a href="#/">Home</a>
        <a href="#/cart-page">Go to cart</a>
        <h1>Product Description</h1>

        <div class="product-display-container">
            <div class="product-detail-container">
                <img class=".product-detail-image" src="<%= product.image %>" alt="product image" width="250px" />
                <div class="product-detail-info-wrapper">
                    <p class="product-title">
                        <%= product.title %>
                    </p>
                    <p class="product-description product-detail-description">
                        <%= product.description %>
                    </p>
                    <p class="product-details-price product-price">
                        <%= "$" + formatPrice(product.price) %>
                    </p>
                </div>

                <button class="add-to-cart-button add-button">Add to cart</button>
                <div id="alert-box" class="hidden">
                    <p class="alert-message">The product has been added to your shopping cart</p>
                    <button class="alert-close-button">OK</button>
                </div>
            </div>
        </div>
    </section>
    <%= partials.footer({images}) %>